# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
Lab8_ChangeStack/ChangeStack/Debug/ChangeStack.d
Lab8_ChangeStack/ChangeStack/Debug/ChangeStack.lss.orig
Lab8_ChangeStack/ChangeStack/Debug/ChangeStack.map.orig
Lab8_ChangeStack/ChangeStack/Debug/makedep.mk.orig
Lab8_ChangeStack/ChangeStack/Debug/Makefile.orig
